{% extends 'layoutaia.html' %}
{% load static %}

{% block body %}
<section class="section courses" id="courses" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Наши курсы</h2>
                    <br>
                </div>
            </div>
        </div>
        <div class="row event_box">
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6">
                <div class="events_item">
                    <div class="thumb">
                        <a href="basiccourse"><img src="{% static 'img/courses/course-01.jpg'%}" alt=""></a>
                    </div>
                    <div class="down-content">
                        <h4 style="margin-top: 0;">Basic Course</h4>
                        <p>Основы Python, статистики и классического машинного интеллекта.</p>
                        <p><i class="fas fa-clock"></i> 102 часов | <i class="fas fa-book"></i> 54 уроков</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6">
                <div class="events_item">
                    <div class="thumb">
                        <a href="dataanalytics"><img src="{% static 'img/courses/course-02.jpg' %}" alt=""></a>
                    </div>
                    <div class="down-content">
                        <h4 style="margin-top: 0;">Data Analytics</h4>
                        <p>Основы Python, статистики и классического машинного интеллекта.</p>
                        <p><i class="fas fa-clock"></i> 48 часов | <i class="fas fa-book"></i> 24 уроков</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6">
                <div class="events_item">
                    <div class="thumb">
                        <a href="datascience"><img src="{% static 'img/courses/course-03.jpg'%}" alt=""></a>
                    </div>
                    <div class="down-content">
                        <h4 style="margin-top: 0;">Data Science</h4>
                        <p>Основы Python, статистики и классического машинного интеллекта.</p>
                        <p><i class="fas fa-clock"></i> 54 часов | <i class="fas fa-book"></i> 27 уроков</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6">
                <div class="events_item">
                    <div class="thumb">
                        <a href="mlops"><img src="{% static 'img/courses/course-04.jpg' %}" alt=""></a>
                    </div>
                    <div class="down-content">
                        <h4 style="margin-top: 0;">ML Ops</h4>
                        <p>Основы Python, статистики и классического машинного интеллекта.</p>
                        <p><i class="fas fa-clock"></i> 20 часов | <i class="fas fa-book"></i> 15 уроков</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	

{% endblock %}