{% extends 'layoutaia.html' %}
{% block title %}Ошибка - 404{% endblock %}
{% load static %}
{% block body %}

    <!-- 404
    ================================================== -->
    <div class="container my-10">
      <!-- Illustrator -->
      <img src="{% static 'img/illustration-12.svg' %}" alt="..." class="img-fluid mb-5 mb-md-9">

      <div class="row">
          <div class="col-xl-6 mx-auto text-center">
              <h1 class="display-6">Ох! Страница не найдена</h1>
              <p class="mb-6">Похоже, мы не можем найти страницу, которую вы ищете.</p>


              <a href="/" class="d-inline-block text-underline text-blue">Вернуться домой</a>
          </div>
      </div>
  </div>


{% endblock %}
